.App {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px red;
  height: 100vh;
}

.banner {
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
}

.row {
  margin: 10px ;
}

.formattedText {
  font: 50px Arial, sans-serif;
}

.button {
  color: black;
  border: 2px solid #008CBA;
  background-color: white;
  padding: 15px 32px;
  margin: 4px 2px;
  cursor: pointer;
}

